$fontSizeTypographyH1: 2rem;
$fontSizeTypographyH2: 1.75rem;
$fontSizeTypographyH3: 1.5625rem;
$fontSizeTypographyH4: 1.375rem;
$fontSizeTypographyH5: 1.25rem;
$fontSizeTypographyH6: 1.125rem;

$fontWeight100: 100;
$fontWeight200: 200;
$fontWeight300: 300;
$fontWeight400: 400;
$fontWeight500: 500;
$fontWeight600: 600;
$fontWeight700: 700;
$fontWeight800: 800;
$fontWeight900: 900;

$fontStyleRegular: $fontWeight400;
$fontStyleMedium: $fontWeight500;
$fontStyleBold: $fontWeight700;
$fontStyleExtraBold: $fontWeight800;
